VITE_API_URL=http://localhost:8080
VITE_SITE_URL=
VITE_APP_NAME=Flutz
VITE_COMPANY_NAME=UpVibe
VITE_COMPANY_URL=https://www.upvibe.blog.br/
VITE_CONTACT_EMAIL=contato@flutzclinicas.com.br
VITE_CONTACT_WHATSAPP=62981451856
VITE_INSTAGRAM_URL=https://www.instagram.com/flutzclinicas/

# Preços somente para exibição na landing. O valor oficial é confirmado pelo sistema.
VITE_PLANO_BASICO=R$ 99,90/mês
VITE_PLANO_PROFISSIONAL=R$ 199,90/mês
VITE_PLANO_PREMIUM=R$ 299,90/mês
